<!-- Nunjuikin form penambahan item (jangan lupa tambakan validasi nanti di models) -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Items</h1>
            <form action="/categories/<%=id%>/add" method="POST">
                <div>
                    <label for="name">Nama Barang:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="stock">Jumlah stock barang</label>
                    <input type="number" name="stock" id="stock">
                </div>
                <div>
                    <label for="imageURL">Link foto:</label>
                    <input type="text" name="imageURL" id="imageURL">
                </div>
                <div>
                    <label for="description">Informasi mengenai produk yang mau dijual:</label><br>
                    <textarea id="description" name="description" rows="4" cols="50" placeholder="Masukkan informasi produk..."></textarea>
                </div>
                <div>
                    <label for="condition">Kondisi barang (Tolong pilih terdekat dan sejujurnya):</label>
                    <select name="condition" id="condition">
                        <option value="like-new">Like-New</option>
                        <option value="used">Used</option>
                    </select>
                </div>
                <div>
                    <label for="price">Harga Barang:</label>
                    <input type="number" name="price" id="price">
                </div>
                <a href="/categories/<%=id%>/add"><button>Tambahkan data</button></a>
        </form>
</body>
</html>