<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Items</title>
</head>
<body>
    <%=JSON.stringify(stores)  %>
    <table border="1">
        <tr>
            <th>ImageUrl</th>
            <th>Stock</th>
            <th>Description</th>
            <th>Condition</th>
            <th>Price</th>
        </tr>
            <tr>
            </tr>
    </table>
    
</body>
</html>